In [333]:
# Dependencies
import pandas as pd
import numpy as np
import scipy as st
import matplotlib.pyplot as plt

In [335]:
# Study data files
walmart_path = "data/Walmart.csv"

# Read the Walmart data
walmart_data = pd.read_csv(walmart_path)

# Display the data table for preview
walmart_data.head(10)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,211.380643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106
7,1,26-03-2010,1404429.92,0,51.45,2.732,211.018042,8.106
8,1,02-04-2010,1594968.28,0,62.27,2.719,210.820450,7.808
9,1,09-04-2010,1545418.53,0,65.86,2.770,210.622857,7.808

In [337]:
# Standartize column names
walmart_data.rename(columns={"Store":"Store ID", "Temperature":"Avg Temperature (â„‰)", "CPI": "Customer Price Index", "Unemployment": "Unemployment Rate "}, inplace=True)
walmart_data

,Store ID,Date,Weekly_Sales,Holiday_Flag,Avg Temperature (â„‰),Fuel_Price,Customer Price Index,Unemployment Rate
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [339]:
walmart_data.describe()

,Store ID,Weekly_Sales,Holiday_Flag,Avg Temperature (â„‰),Fuel_Price,Customer Price Index,Unemployment Rate
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [341]:
# Add an empty column for the holidays 
bins =[0, 1000000.00, 1500000.00, walmart_data['Weekly_Sales'].max()]
labels = ['Low', 'Medium', 'High']

walmart_data['Sales_Category'] = pd.cut(walmart_data['Weekly_Sales'],bins, labels=labels)
walmart_data.tail(100)

,Store ID,Date,Weekly_Sales,Holiday_Flag,Avg Temperature (â„‰),Fuel_Price,Customer Price Index,Unemployment Rate,Sales_Category
6335,45,03-12-2010,879244.90,0,40.93,3.046,182.667615,8.724,Low
6336,45,10-12-2010,1002364.34,0,30.54,3.109,182.551954,8.724,Medium
6337,45,17-12-2010,1123282.85,0,30.51,3.140,182.517732,8.724,Medium
6338,45,24-12-2010,1682862.03,0,30.59,3.141,182.544590,8.724,High
6339,45,31-12-2010,679156.20,1,29.67,3.179,182.571448,8.724,Low
...,...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684,Low
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667,Low
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667,Low
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667,Low
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667,Low

In [343]:
walmart_data['Weekly_Sales'].min()

209986.25

In [345]:
walmart_data['Weekly_Sales'].max()

3818686.45

In [347]:
walmart_data['Weekly_Sales'].mean()

1046964.8775617715

In [349]:
# Check for data description
walmart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Store ID              6435 non-null   int64
 1   Date                  6435 non-null   object
 2   Weekly_Sales          6435 non-null   float64
 3   Holiday_Flag          6435 non-null   int64
 4   Avg Temperature (â„‰)   6435 non-null   float64
 5   Fuel_Price            6435 non-null   float64
 6   Customer Price Index  6435 non-null   float64
 7   Unemployment Rate     6435 non-null   float64
 8   Sales_Category        6435 non-null   category
dtypes: category(1), float64(5), int64(2), object(1)
memory usage: 408.7+ KB

In [351]:
# Check for missing values 
walmart_data.isnull().sum()

Store ID                0
Date                    0
Weekly_Sales            0
Holiday_Flag            0
Avg Temperature (â„‰)     0
Fuel_Price              0
Customer Price Index    0
Unemployment Rate       0
Sales_Category          0
dtype: int64

In [353]:
# Check for unique values
walmart_data.nunique()

Store ID                  45
Date                     143
Weekly_Sales            6435
Holiday_Flag               2
Avg Temperature (â„‰)     3528
Fuel_Price               892
Customer Price Index    2145
Unemployment Rate        349
Sales_Category             3
dtype: int64

In [355]:
# Check for duplicates values
walmart_data.duplicated().sum()

0

In [357]:
walmart_data

,Store ID,Date,Weekly_Sales,Holiday_Flag,Avg Temperature (â„‰),Fuel_Price,Customer Price Index,Unemployment Rate,Sales_Category
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106,High
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106,High
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106,High
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106,Medium
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106,High
...,...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684,Low
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667,Low
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667,Low
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667,Low
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667,Low

In [360]:
walmart_data['Holiday_Flag'] =walmart_data['Holiday_Flag'].astype(int)
walmart_data['Holiday_Flag']=walmart_data['Holiday_Flag'].map({0:'None Holiday', 1: 'Holiday'})
walmart_data.head(50)

,Store ID,Date,Weekly_Sales,Holiday_Flag,Avg Temperature (â„‰),Fuel_Price,Customer Price Index,Unemployment Rate,Sales_Category
0,1,05-02-2010,1643690.90,None Holiday,42.31,2.572,211.096358,8.106,High
1,1,12-02-2010,1641957.44,Holiday,38.51,2.548,211.242170,8.106,High
2,1,19-02-2010,1611968.17,None Holiday,39.93,2.514,211.289143,8.106,High
3,1,26-02-2010,1409727.59,None Holiday,46.63,2.561,211.319643,8.106,Medium
4,1,05-03-2010,1554806.68,None Holiday,46.50,2.625,211.350143,8.106,High
5,1,12-03-2010,1439541.59,None Holiday,57.79,2.667,211.380643,8.106,Medium
6,1,19-03-2010,1472515.79,None Holiday,54.58,2.720,211.215635,8.106,Medium
7,1,26-03-2010,1404429.92,None Holiday,51.45,2.732,211.018042,8.106,Medium
8,1,02-04-2010,1594968.28,None Holiday,62.27,2.719,210.820450,7.808,High
9,1,09-04-2010,1545418.53,None Holiday,65.86,2.770,210.622857,7.808,High
10,1,16-04-2010,1466058.28,None Holiday,66.32,2.808,210.488700,7.808,Medium
11,1,23-04-2010,1391256.12,None Holiday,64.84,2.795,210.439123,7.808,Medium
12,1,30-04-2010,1425100.71,None Holiday,67.41,2.780,210.389546,7.808,Medium
13,1,07-05-2010,1603955.12,None Holiday,72.55,2.835,210.339968,7.808,High
14,1,14-05-2010,1494251.50,None Holiday,74.78,2.854,210.337426,7.808,Medium
15,1,21-05-2010,1399662.07,None Holiday,76.44,2.826,210.617093,7.808,Medium
16,1,28-05-2010,1432069.95,None Holiday,80.44,2.759,210.896761,7.808,Medium
17,1,04-06-2010,1615524.71,None Holiday,80.69,2.705,211.176428,7.808,High
18,1,11-06-2010,1542561.09,None Holiday,80.43,2.668,211.456095,7.808,High
19,1,18-06-2010,1503284.06,None Holiday,84.11,2.637,211.453772,7.808,High
20,1,25-06-2010,1422711.60,None Holiday,84.34,2.653,211.338653,7.808,Medium
21,1,02-07-2010,1492418.14,None Holiday,80.91,2.669,211.223533,7.787,Medium
22,1,09-07-2010,1546074.18,None Holiday,80.48,2.642,211.108414,7.787,High
23,1,16-07-2010,1448938.92,None Holiday,83.15,2.623,211.100385,7.787,Medium
24,1,23-07-2010,1385065.20,None Holiday,83.36,2.608,211.235144,7.787,Medium
25,1,30-07-2010,1371986.60,None Holiday,81.84,2.640,211.369903,7.787,Medium
26,1,06-08-2010,1605491.78,None Holiday,87.16,2.627,211.504662,7.787,High
27,1,13-08-2010,1508237.76,None Holiday,87.00,2.692,211.639421,7.787,High
28,1,20-08-2010,1513080.49,None Holiday,86.65,2.664,211.603363,7.787,High
29,1,27-08-2010,1449142.92,None Holiday,85.22,2.619,211.567306,7.787,Medium
30,1,03-09-2010,1540163.53,None Holiday,81.21,2.577,211.531248,7.787,High
31,1,10-09-2010,1507460.69,Holiday,78.69,2.565,211.495190,7.787,High
32,1,17-09-2010,1430378.67,None Holiday,82.11,2.582,211.522460,7.787,Medium
33,1,24-09-2010,1351791.03,None Holiday,80.94,2.624,211.597225,7.787,Medium
34,1,01-10-2010,1453329.50,None Holiday,71.89,2.603,211.671989,7.838,Medium
35,1,08-10-2010,1508239.93,None Holiday,63.93,2.633,211.746754,7.838,High
36,1,15-10-2010,1459409.10,None Holiday,67.18,2.720,211.813744,7.838,Medium
37,1,22-10-2010,1345454.00,None Holiday,69.86,2.725,211.861294,7.838,Medium
38,1,29-10-2010,1384209.22,None Holiday,69.64,2.716,211.908844,7.838,Medium
39,1,05-11-2010,1551659.28,None Holiday,58.74,2.689,211.956394,7.838,High
40,1,12-11-2010,1494479.49,None Holiday,59.61,2.728,212.003944,7.838,Medium
41,1,19-11-2010,1483784.18,None Holiday,51.41,2.771,211.889674,7.838,Medium
42,1,26-11-2010,1955624.11,Holiday,64.52,2.735,211.748433,7.838,High
43,1,03-12-2010,1548033.78,None Holiday,49.27,2.708,211.607193,7.838,High
44,1,10-12-2010,1682614.26,None Holiday,46.33,2.843,211.465953,7.838,High
45,1,17-12-2010,1891034.93,None Holiday,49.84,2.869,211.405312,7.838,High
46,1,24-12-2010,2387950.20,None Holiday,52.33,2.886,211.405122,7.838,High
47,1,31-12-2010,1367320.01,Holiday,48.43,2.943,211.404932,7.838,Medium
48,1,07-01-2011,1444732.28,None Holiday,48.27,2.976,211.404742,7.742,Medium
49,1,14-01-2011,1391013.96,None Holiday,35.40,2.983,211.457411,7.742,Medium

In [294]:
walmart_data['Holiday_Flag'].unique()

array([nan], dtype=object)

In [220]:
total_sales = walmart_data.groupby("Store ID")['Weekly_Sales'].sum()
average_weekly_sales = walmart_data['Weekly_Sales'].mean()
highest_weekly_sales = walmart_data['Weekly_Sales'].max()
lowest_weekly_sales = walmart_data['Weekly_Sales'].min()
holidays_sales = walmart_data[walmart_data['Holiday_Flag'] ==1]['Weekly_Sales'].sum()
non_holidays_sales = walmart_data[walmart_data['Holiday_Flag'] ==0]['Weekly_Sales'].sum()

sales_summary = pd.DataFrame({
    'Total Sales':[total_sales],
    'Average Weekly Sales': [average_weekly_sales],
    'Highest Weekly Sales': [highest_weekly_sales],
    'Lowest Weekly Sales': [lowest_weekly_sales],
    'Sales on Holidays': [holidays_sales],
    'Sales on Non-Holidays': [non_holidays_sales]
})

# Print the summary
sales_summary

,Total Sales,Average Weekly Sales,Highest Weekly Sales,Lowest Weekly Sales,Sales on Holidays,Sales on Non-Holidays
0,Store ID 1 2.224028e+08 2 2.753824e+08...,1.046965e+06,3818686.45,209986.25,5.052996e+08,6.231919e+09

In [270]:
df=walmart_data.groupby("Store ID").agg({'Weekly_Sales':['sum','mean','max']}).reset_index()
df

   Store ID  Weekly_Sales
                      sum          mean         max
0         1  2.224028e+08  1.555264e+06  2387950.20
1         2  2.753824e+08  1.925751e+06  3436007.68
2         3  5.758674e+07  4.027044e+05   605990.41
3         4  2.995440e+08  2.094713e+06  3676388.98
4         5  4.547569e+07  3.180118e+05   507900.07
5         6  2.237561e+08  1.564728e+06  2727575.18
6         7  8.159828e+07  5.706173e+05  1059715.27
7         8  1.299512e+08  9.087495e+05  1511641.09
8         9  7.778922e+07  5.439806e+05   905324.68
9        10  2.716177e+08  1.899425e+06  3749057.69
10       11  1.939628e+08  1.356383e+06  2306265.36
11       12  1.442872e+08  1.009002e+06  1768249.89
12       13  2.865177e+08  2.003620e+06  3595903.20
13       14  2.889999e+08  2.020978e+06  3818686.45
14       15  8.913368e+07  6.233125e+05  1368318.17
15       16  7.425243e+07  5.192477e+05  1004730.69
16       17  1.277821e+08  8.935814e+05  1309226.79
17       18  1.551147e+08  1.084718e+06  2027507.15
18       19  2.066349e+08  1.444999e+06  2678206.42
19       20  3.013978e+08  2.107677e+06  3766687.43
20       21  1.081179e+08  7.560691e+05  1587257.78
21       22  1.470756e+08  1.028501e+06  1962445.04
22       23  1.987506e+08  1.389864e+06  2734277.10
23       24  1.940160e+08  1.356755e+06  2386015.75
24       25  1.010612e+08  7.067215e+05  1295391.19
25       26  1.434164e+08  1.002912e+06  1573982.47
26       27  2.538559e+08  1.775216e+06  3078162.08
27       28  1.892637e+08  1.323522e+06  2026026.39
28       29  7.714155e+07  5.394514e+05  1130926.79
29       30  6.271689e+07  4.385796e+05   519354.88
30       31  1.996139e+08  1.395901e+06  2068942.97
31       32  1.668192e+08  1.166568e+06  1959526.96
32       33  3.716022e+07  2.598617e+05   331173.51
33       34  1.382498e+08  9.667816e+05  1620748.25
34       35  1.315207e+08  9.197250e+05  1781866.98
35       36  5.341221e+07  3.735120e+05   489372.02
36       37  7.420274e+07  5.189003e+05   605791.46
37       38  5.515963e+07  3.857317e+05   499267.66
38       39  2.074455e+08  1.450668e+06  2554482.84
39       40  1.378703e+08  9.641280e+05  1648829.18
40       41  1.813419e+08  1.268125e+06  2263722.68
41       42  7.956575e+07  5.564039e+05   674919.45
42       43  9.056544e+07  6.333247e+05   725043.04
43       44  4.329309e+07  3.027489e+05   376233.89
44       45  1.123953e+08  7.859814e+05  1682862.03

In [274]:
df.columns=['s','a','b','c']

In [276]:
df

     s             a             b           c
0    1  2.224028e+08  1.555264e+06  2387950.20
1    2  2.753824e+08  1.925751e+06  3436007.68
2    3  5.758674e+07  4.027044e+05   605990.41
3    4  2.995440e+08  2.094713e+06  3676388.98
4    5  4.547569e+07  3.180118e+05   507900.07
5    6  2.237561e+08  1.564728e+06  2727575.18
6    7  8.159828e+07  5.706173e+05  1059715.27
7    8  1.299512e+08  9.087495e+05  1511641.09
8    9  7.778922e+07  5.439806e+05   905324.68
9   10  2.716177e+08  1.899425e+06  3749057.69
10  11  1.939628e+08  1.356383e+06  2306265.36
11  12  1.442872e+08  1.009002e+06  1768249.89
12  13  2.865177e+08  2.003620e+06  3595903.20
13  14  2.889999e+08  2.020978e+06  3818686.45
14  15  8.913368e+07  6.233125e+05  1368318.17
15  16  7.425243e+07  5.192477e+05  1004730.69
16  17  1.277821e+08  8.935814e+05  1309226.79
17  18  1.551147e+08  1.084718e+06  2027507.15
18  19  2.066349e+08  1.444999e+06  2678206.42
19  20  3.013978e+08  2.107677e+06  3766687.43
20  21  1.081179e+08  7.560691e+05  1587257.78
21  22  1.470756e+08  1.028501e+06  1962445.04
22  23  1.987506e+08  1.389864e+06  2734277.10
23  24  1.940160e+08  1.356755e+06  2386015.75
24  25  1.010612e+08  7.067215e+05  1295391.19
25  26  1.434164e+08  1.002912e+06  1573982.47
26  27  2.538559e+08  1.775216e+06  3078162.08
27  28  1.892637e+08  1.323522e+06  2026026.39
28  29  7.714155e+07  5.394514e+05  1130926.79
29  30  6.271689e+07  4.385796e+05   519354.88
30  31  1.996139e+08  1.395901e+06  2068942.97
31  32  1.668192e+08  1.166568e+06  1959526.96
32  33  3.716022e+07  2.598617e+05   331173.51
33  34  1.382498e+08  9.667816e+05  1620748.25
34  35  1.315207e+08  9.197250e+05  1781866.98
35  36  5.341221e+07  3.735120e+05   489372.02
36  37  7.420274e+07  5.189003e+05   605791.46
37  38  5.515963e+07  3.857317e+05   499267.66
38  39  2.074455e+08  1.450668e+06  2554482.84
39  40  1.378703e+08  9.641280e+05  1648829.18
40  41  1.813419e+08  1.268125e+06  2263722.68
41  42  7.956575e+07  5.564039e+05   674919.45
42  43  9.056544e+07  6.333247e+05   725043.04
43  44  4.329309e+07  3.027489e+05   376233.89
44  45  1.123953e+08  7.859814e+05  1682862.03

In [218]:
# Group the stores 
grouped_data = walmart_data.groupby('Store ID')['Weekly_Sales'].mean()
print(grouped_data

SyntaxError: incomplete input (473967507.py, line 3)

In [194]:
sorted_grouped_data = grouped_data.sort_values(ascending=True)
sorted_grouped_data

Store ID
33    2.598617e+05
44    3.027489e+05
5     3.180118e+05
36    3.735120e+05
38    3.857317e+05
3     4.027044e+05
30    4.385796e+05
37    5.189003e+05
16    5.192477e+05
29    5.394514e+05
9     5.439806e+05
42    5.564039e+05
7     5.706173e+05
15    6.233125e+05
43    6.333247e+05
25    7.067215e+05
21    7.560691e+05
45    7.859814e+05
17    8.935814e+05
8     9.087495e+05
35    9.197250e+05
40    9.641280e+05
34    9.667816e+05
26    1.002912e+06
12    1.009002e+06
22    1.028501e+06
18    1.084718e+06
32    1.166568e+06
41    1.268125e+06
28    1.323522e+06
11    1.356383e+06
24    1.356755e+06
23    1.389864e+06
31    1.395901e+06
19    1.444999e+06
39    1.450668e+06
1     1.555264e+06
6     1.564728e+06
27    1.775216e+06
10    1.899425e+06
2     1.925751e+06
13    2.003620e+06
14    2.020978e+06
4     2.094713e+06
20    2.107677e+06
Name: Weekly_Sales, dtype: float64

In [ ]:
Data Analysis

In [ ]:
Data Visualization with Mathplolib or Pandas (6-8) figures

In [ ]:
Summary our findinds